<div class="container mt-3">
    <h2>Leave requests</h2>
    <br>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Lastname</th>
                <th>Leave Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Days Taken</th>
                <th>Days Left</th>
                <th>Reason</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let leave of requests">
                <td>{{leave.name}}</td>
                <td>{{leave.surname}}</td>
                <td>{{leave.leaveType}}</td>
                <td>{{leave.startDate}}</td>
                <td>{{leave.endDate}}</td>
                <td>{{leave.daysTaken}}</td>
                <td>{{leave.daysLeft}}</td>
                <td>{{leave.reason}}</td>

            </tr>
        </tbody>
    </table>
</div>